body{background-color:pink;
}
img{float:left;
by-position:top-right;
border:5px;
background-color:yellow;
width:200px;
margin:5px;
overflow:hidden;}
span{background-color:green;
margin:5px;
float:right;
}
span:hover{
color:yellow;
font-size:5em;
background-color:blue;}
h1{float:center;
color:yellow;
background-color:pink;
text-align:center;
border:2px;
border-color:green;}
h2{float:center;
color:pink;
background-color:orange;
text-align:center;
border:2px;
border-color:green;}
a{text-align:center;

margin:5px;}
nav{text-align:center;
word-spacing:5px;
background-color:brown;}
a:hover{font-size:2em;
color:purple;background-color:black;
}
nav a:active{background:grren;
color:yellow;
}
a:visited{
color:red;
}